
/*author: Aejaz Ahmed*/

video{
    object-fit: contain;
}


.site_nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    border-bottom: 1px solid #dadada;
    background-color: #fff;
    z-index: 2;
    position: relative;
}

.logo_link{
    display: flex;
    align-items: center;
   
    margin-right: 5%;
}



.create{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    color: #23408c;
    width: 100%;
    border-bottom: none;
    
    
}

.links{
    display: flex;
    width: 90%;
    


}

.sub_link,.sub_link ~ div{
    margin-left: 2%;
    margin-right: 3%;
   

}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
   
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .signup_login{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-right: 50px;
    margin-left: auto;
   
    align-items: center;
    width: 20%;
  }

  /*main-box*/
  .main{
    position: relative;
    z-index: 0;

  }

  .after_nav{

    display: grid;
    grid-template-areas: "tag media"
                          "easily media"
                            "para media"
                              "btn media"  ;
    
   
    margin-left: 9%;
    margin-right: 7%;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 9%;
    text-align: left;
    margin-top: 10%;
    

    max-width: 100%;
    max-height: 100%;

  }

  .do_it_urslf{

    grid-area: tag;
    font-family: 'Roboto', sans-serif;font-weight: bold;
    color: black;margin-bottom: -150%;margin-left: -2%;

    

}
  .media{
      grid-area: media;
  }

  #easily{
      grid-area: easily;
    
}
#easily > h1 {
    font-weight: 700;
    line-height: 81px;
    font-size: 71px;color: black;
}

.para{
    grid-area: para;
    font-weight: 400;
    line-height: 24px;
    font-size: 24px;color: black;
    width: 110%;
}

.btn{
    grid-area: btn;
}
.btn > button{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color:rgb(35,64 ,140);
    width: 50%;
    height: 50px;
    border-radius: 30px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;


}

#vid_back{

    position: relative;
    background-color: orange;
    height: 70%;
    margin-top: 20%;
    margin-right: -10%;
    width: 100%;
    
}
#vid_box{
    position: absolute;
    
    height: 100%;
    width: 100%;
    top: -10%;
    left: -5%;
}
#vid_box  video{

    width: 100%;
    height: 100%;
}

.three_item_box{

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

.increase_sales_drive_traffic_engage_aud{

    display: grid;
    grid-template-areas: 'a b c';
    width: 100%;
    
    grid-gap: 10px;
}

.increase_sale{
    grid-area: a;
}
.drive_traffic{
    grid-area: b;
}
.engage_aud{
    grid-area: c;
}


.increase_sale_grid{
    display: grid;

    grid-template-areas: 'img1'
                            'h1'
                            'para1' ;
    grid-gap: 2%;
    align-items: center;
    justify-content: center;
}
.img1 {
    grid-area: img1;
   
}
.h1{
    grid-area: h1;
}
.para1{
    grid-area: para1;
}




.drive_traffic_grid{

    display: grid;

    grid-template-areas: 'img2'
                            'h2'
                            'para2' ;
     align-items: center;  grid-gap: 2%;
     justify-content: center;
}
.img2 {
    grid-area: img2;
    
   
}
.h2{
    grid-area: h2;

}
.h2 > h3{

    margin-top: 5%;
}
.para2{
    grid-area: para2;
}



.engage_aud_grid{

    display: grid;
    grid-template-areas: "img3"
                            "h3"
                            "para3";
                            
       justify-content: center;
       align-items: center;   
       grid-gap: 2%;                  
}
.img3{
    grid-area: img3;
}

.h3{
    grid-area: h3;
}

.para3{
    grid-area: para3;
}


@media only screen and (max-width:600px){
    .box2{
        flex-direction: row;
    }
}

.img1,.img2,.img3 >img {
    width: 50%;
    
}

.h1,.h2,.h3{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #181c47;
    font-size: 17px;line-height: 20px;
}
.para1,.para2,.para3{

    font-size: 20px;font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #181c47;
}

.learn_more_link{
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;

    font-weight: 700;
   

    font-size: 16px;
line-height: 16px;
letter-spacing: 1px;
margin-top: 5%;
margin-left: 0%;
color: #23408c;

}



  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .site_nav{
       
        flex-direction: column;
    }

    .after_nav{

        grid-template-areas: "tag"
                                'easily'
                                'para'
                                'btn'
                                'media'
                                ;
    }


    .increase_sales_drive_traffic_engage_aud{

       
        grid-template-areas: 'a'
                            'b'
                            'c';
       
    }

    
} 

.yellow_curve{
    position: absolute;
    top: 3%;
    left: 0%;
    height: 15%;
    width: 25%;
    z-index: 1;
}

.aqua_curve{
    position: absolute;
    top:7%;
    left: -3%;
    height: 15%;
    width: 12%;
    z-index: 1;
}

.green_curve{
    position: absolute;
    top: 55%;
    right: 0;
    z-index: 1;
    height: 10%;
    width: 10%;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    .increase_sales_drive_traffic_engage_aud{

       
        grid-template-areas: 'a'
                            'b'
                            'c';
       
    }

   



} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   
    

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .site_nav{
        border: 1 px solid;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .site_nav{
        display: flex;
        flex-direction: row;
    }

    .increase_sales_drive_traffic_engage_aud{

       
        grid-template-areas: 'a b c';
       
    }
    
    


}

/* .dropdown */
.dropdown {
    float: left;
    overflow: hidden;z-index: 10;
  }


  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }

  .dropdown:hover .dropdown-content {
    display: block;z-index: 10;
  }


  
.col {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: white;
    height: 250px; z-index: 10;
  }
  
  .col a {
    float: none;
    color: #181c47;
    
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    
  }

  .col h3{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-weight: 700;
    color: #181c47;
    font-size: 20px;
  }
  
  .col a:hover {
    cursor: pointer;
  }

    /*author: Pranit Jogwe old mid-section home page*/

    /* Css for mid section of landing page - Pranit*/
    h1, #text_1, .heading_1{
        font-size:36.4px;
        font-family: 'Playfair Display', serif;
        color: #181C47;
        /* text-align: center; */
    }

    p, #text_2{
        font-size: 20px;
        color: #181C47;
        /* text-align: center; */

    }

    .mid_section{
        width: 80%;
        height: 700px;
        background-color: #f3f3f9;
        margin: auto;
        margin-top:50px;
        margin-bottom: 50px;
        padding:2% 7% 0% 7%;
    }

    .text{
        display: flex;
    }

    .text > div {
        flex-grow: 1;
        color: #23408C;
        font-family: 'Roboto', sans-serif;
        font-weight:700;
        font-size: 16px;
    }

    .videos, .video_describe_text {
        display: flex;
        flex-grow: 1;
        margin: 20px;
    }

    .videos > video{
        width: 30%;
        height: 200px;
        margin: 20px;
    }

    .video_describe_text > div{
        margin:0px 20px;
        font-size:16px;
        color: #181C47;
        font-family: 'Roboto', sans-serif;
        font-weight:700;
        width: 30%;
        text-align: left;
    }

    .video_btn{
        width: 200px;
        height: 20px;
        font-size:16px;
        font-family: 'Roboto', sans-serif;
        font-weight:700;
        margin: auto;
        margin-top: 100px;
        border-radius: 100px;
        background-color: #23408C;
        color: white;
        padding:16px;
        text-align: center;
    }

    .mid_section2{
        width:70%;
        margin-top:80px ;
        height: 700px;
        margin: auto;
        padding: 20px;
    }

    .mid_interior{
        width: 80vw;
        height: 70%;
        margin: auto;
        display: flex;
        flex-grow: 1;
    }

    .left_box{
        padding-top:30px ;
        width: 40%;
        height: 100%;
        text-align: left;
        margin-top: 60px; 
    }

    .heading_1{
        font-weight: 900;
        margin: 20px;
        padding: 20px;
        font-family: 'Playfair Display', serif;
    }

    #text_1{
        font-weight: 900;
        text-align: left;
        font-family: 'Playfair Display', serif;
    }

    #text_2{
        margin:20px 0px 20px 0px;
        text-align: left;
    }

    .mid_interior > img{
        width: 50%;
        height: 90%;   
    }

    #click_start_btn{
        color: #23408C;
        background-color: white;
        text-align: center;
        font-weight:800;
        padding:5px;
        width: 250px;
        height: 50px;
        border: 2px solid #23408C;
        border-radius: 125px;
        margin-top: 20px;
    }

    .mid_section2 > h1{
        text-align: center;
    }



